<table>
  <tr>
    <th>Name</th>
    <th colspan="2"></th>
  </tr>

<% @teams.each do |team| %>
  <tr>
    <td><%= team.name %></td>
    <td><%= link_to 'Show', team_path(team) %></td>
    <td><%= link_to 'Edit', edit_team_path(team) %></td>
  </tr>
<% end %>
</table>

<p><%= link_to 'New', new_team_path %></p>