<div class="row centered">
  <%= image_tag "social-btns.jpg" -%>
  <div class="col-md-12 circle pad-photo">
    <span class="image-wrap " style="position:relative; display:inline-block; background:url(/assets/sadkid.jpg) no-repeat center center; width: 150px; height: 150px;"><img src="/assets/sadkid.jpg" style="opacity: 0;"></span>
  </div>
  <h5>Allison's raised <br /><strong>$30</strong> of the <strong>$500</strong> goal</h5>
</div>

<table class="table table-hover leaderboard">
  <thead>
    <tr>
      <th colspan="2" style="text-align:center;">Marin Elementary Leaderboard</th>
    </tr>
  </thead>
  <tbody>
  <tr>
    <td>#1</td>
    <td>Mark O.</td>
  </tr>
  <tr>
    <td>#2</td>
    <td>Jacob T.</td>
  </tr>
  <tr>
    <td>#3</td>
    <td>Allison B.</td>
  </tr>
  </tbody>
</table>

<div class="donation-btn centered">
  <a type="button" class="btn btn-donate" href='/donations/new'>Donate</a>
  <div class="slider-wrap">
    <strong>$1</strong><input class="slider" data-slider-id='ex1Slider' type="text" /><strong>$100</strong>
  </div>
  <h5 class='donationReward' style='font-weight: 100'><h5>
</div>

<div class="centered">
  <h4>Thank you to our contributors</h4>
  <table class="table table-hover contributors">
    <tbody>
    <tr>
      <td class='align-left'>Mark O.</td>
      <td class='align-right'>$23,102</td>
    </tr>
    <tr>
      <td class='align-left'>Jacob T.</td>
      <td class='align-right'>$235</td>
    </tr>
    <tr>
      <td class='align-left'>Allison B.</td>
      <td class='align-right'>$30</td>
    </tr>
    </tbody>
  </table>
  <a type="button" class="btn btn-donate" href="/donations/new">Donate</a>
</div>

