<div class="row centered">
  <%= image_tag "social-btns.jpg" -%>
  <div class="col-md-12 circle pad-photo">
    <span class="image-wrap " style="position:relative; display:inline-block; background:url(/assets/sadkid.jpg) no-repeat center center; width: 150px; height: 150px;"><img src="/assets/sadkid.jpg" style="opacity: 0;"></span>
  </div>
  <h5>Thank you for helping me raise money for Unicef</h5>
</div>


