<div class='centered'>
  <%= image_tag "unicef-logo.jpg" %>

  <h2>Thank you and some info about UNICEF</h2>

  <div class="pad-photo">
    <%= image_tag "sadkid.gif" %>
  </div>
  <div class="donation-btn">
    <button type="button" class="btn btn-warning btn-lg">Make a donation</button>
  </div>
</div>
