/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require bootstrap
 *= require bootstrap-slider
 *= require_self
 *= require_tree .
 */

body {
  color: #555;
}

table {
  background-color: #FFF;
}

.container {
  max-width: 600px;
  padding: 0 3em;
}

.header {
  background-color: rgb(239,116,34);
  padding: 0.33em 0 0.66em 0;
  margin-bottom: 1em;
  margin-left: -10em;
  margin-right: -10em;
}

.footer {
  color: #999;
  font-size: 1em;
  font-weight: 200;
  margin-top: 1em;
  text-align: center;
}

.centered {
  text-align: center;
}

.pad-photo {
  margin: 1em 0;
}

h4 {
  color: rgb(251, 103, 0);
  font-size: 2em;
  font-weight: 200;
  margin: 0 2em 1em;
  text-transform: uppercase;
}

h5 {
  font-size: 2em;
  font-weight: 200;
  margin: 1em 1em;
}

h5 strong {
  font-weight: 400;
}

.circle .image-wrap {
  -webkit-border-radius: 50em;
  -moz-border-radius: 50em;
  border-radius: 50em;
  border: 3px solid #FFF;
  box-shadow: 1px 1px 1px 0px #aaa;
}

.btn-donate {
  background-color: rgb(251, 103, 0);
  color: #fff;
  font-size: 2em;
  font-weight: 100;
  margin: 1em 0;
  border-radius: 0;
  padding: 0.3em 1.5em;
}
.btn-donate:hover {
  color: #fff;
}

.slider-handle.round {
  background-color: rgb(251, 103, 0);
  background-image: linear-gradient(to bottom, rgb(251, 103, 0) 0%, rgb(251, 103, 0) 100%);
}

.slider-wrap {
  margin: 0 0 1em;
}

.slider-wrap strong {
  color: rgb(251, 103, 0);
  font-size: 1.75em;
  font-weight: 100;
  margin: 0 0.5em;
}

table.leaderboard th, td, thead {
  border: 2px solid #555;
}

table.leaderboard thead {
  background-color: #555;
  color: #EEE;
}

table.contributors, .contributors th, .contributors tr {
  color: rgb(251, 103,0);
  border: 2px solid rgb(251, 103,0);
}

.contributors td {
  border: none;
}

.align-right {
  text-align: right;
}

.align-left {
  text-align: left;
}

